<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="/css/new.css">
    <title></title>
</head>
<body>
    <h1>this is EJS 
    </h1>
    <h2> view engine is working</h2>
    <img class="pic" src="/images/a890ffa123b1c2c6e2c069a3c9da20ea.gif" alt="First Image">
</body>
</html>